@model StudentAutomationProject.Entities.Models.Exams

@{
    ViewData["Title"] = "Sınav Ekle";
    Layout = ViewBag.Layout;
}

<label>Bölüm Seç</label>


<div class="row">
    <div class="col-md-4">
        <select id="DepartmentUID" asp-items="@(new SelectList(string.Empty, "Uid", "Name"))" class="form-control col-md-8"></select>
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CourseUid" class="control-label"></label>
                <select asp-for="CourseUid" asp-items="@(new SelectList(string.Empty, "Uid", "Name"))" class="form-control col-md-8"></select>
                <span asp-validation-for="CourseUid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sınav Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    
     var url = '@Url.Content("/")' + "Student/ListDepartmentCombo";
    getJSONforComboBox(url, null, "#DepartmentUID", null);

     $(function () {
         $("#DepartmentUID").change(function () {
             var url = '@Url.Content("/")' + "Student/ListCourseCombo";
             var sendData = { departmentUID: $("#DepartmentUID").val() };
             getJSONforComboBox(url, sendData, "#CourseUid");
        });
     });

    function listele() {
        //jsModel.DepartmentUID = $("#DepartmentUID").val();
        //jsModel.CourseUID = $("#CourseUID").val();
        debugger
     jsModel.CourseUID = $("#CourseUID").val();


        post("/Student/JsonCourseAdd", jsModel, function (e) {
            if (e.Success === true) {
                debugger
                var serdar = e.List;
                $.each(serdar, function (index, value) {
                    console.log(index + ": " + value);
                });

            };
        });
    }

</script>
