@model StudentAutomationProject.Entities.Models.Exams

@{
    ViewData["Title"] = "Sınav Düzenle";
    Layout = ViewBag.Layout;
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Uid" class="form-control" hidden />
            <input asp-for="Id" class="form-control" hidden />
            <input asp-for="Status" class="form-control" hidden />
            <input asp-for="CourseUid" class="form-control" hidden />

            <div class="form-group">
                <label asp-for="Date" class="control-label">Sınav Tarihi</label>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Sınav İsmi</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

