@model StudentAutomationProject.Models.Security.ResetPasswordViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <form asp-controller="Security" asp-action="ResetPassword" method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Code" />
        <input type="text" asp-for="Email" placeholder="Email" /><br />
        <input type="password" asp-for="Password" placeholder="Şifre" /><br />
        <input type="password" asp-for="ConfirmPassword" placeholder="Şifre Tekrar" /><br />

        <input type="submit" value="Şifremi Değiştir" /><br />
    </form>
</body>
</html>
